.input-container {
  display: flex;
  margin: auto auto;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  width: 350px;

  .navbar {
    padding: 0px;
    width: 100%;

    &-search {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px;
      border: 1px solid #bfc8e6;
      border-radius: 10px;
      background: white;
    }

    .search-icon {
      left: 10px;
      position: relative;
      top: -40px;
    }

    .input-box {
      border: none;
      margin-right: 5px;
      border-bottom: solid black 1px;
      padding: 10px 0;
      font-size: larger;
      font-weight: bold;
    }

    svg {
      cursor: pointer;
    }
  }
}